<section id="home-section">
    <!-- Section para o header -->
    <section id="header-section">
        <header class="masthead">
            <!-- Navigation -->
            <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">it's mead.</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            <li class="nav-item">
                                <a class="nav-link px-lg-3 py-3 py-lg-4" href="#home-section">Home</a>
                            </li>
                            <!-- Adicione mais links de navegação conforme necessário -->
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <!-- Section para o conteúdo principal -->
    <section id="calculator-subsection">
        <div class="d-flex justify-content-center flex-wrap gap-3">
            <a class="btn custom-button" href="#calculator-section">
                <i class="fas fa-calculator custom-icon"></i>
            </a>
            <a class="btn custom-button" href="/calculator">
                <i class="fas fa-search custom-icon"></i>
            </a>
            <a class="btn custom-button" href="/calculator">
                <i class="fas fa-edit custom-icon"></i>
            </a>
        </div>
    </section>
</section>
