/*=========== TABLE OF CONTENTS ===========
1. Button CSS
2. Heading CSS
=========================================*/

/*----------------------------------------
1. Button CSS
-----------------------------------------*/
.ui.button.square {
border-radius: 0px;
}
.ui.button.size-xs {
height: 42px;
padding-left: 34px;
padding-right: 34px; 
font-size: 20px;
}
.ui.button.fill.indigo_200 {
background-color: var(--indigo_200);
color: var(--black_900);
}
.ui.button {
text-align: center;
display: flex;
cursor: pointer;
flex-direction: row;
align-items: center;
justify-content: center;
white-space: nowrap;
color: var(--black_900);
font-size: 20px;
font-weight: 600;
background-color: var(--indigo_200);
min-width: 250px;
}

/*----------------------------------------
2. Heading CSS
----------------------------------------*/
.ui.heading.size-headingxs {
    font-size: 24px;
    font-weight: 600;
    font-style: bold;
    @media only screen and (max-width: 1050px) {
    font-size: 22px;
    }
}
.ui.heading {
    color: var(--white_a700); font-family: Roboto;
}